:root {
    --bg-body: #f1f5f9;
    --bg-card: #ffffff;
    --text-main: #0f172a;
    --text-muted: #64748b;

    --primary: #6366f1;
    --primary-hover: #4f46e5;
    --primary-light: #e0e7ff;

    --border-input: #cbd5e1;
    --input-focus: #6366f1;

    --error: #ef4444;
    --success: #22c55e;

    --progess-bg: #e2e8f0;
    --progess-fill: #f59e0b;

    --radius: 8px;
    --shadow: 0 4px 6px -1px rgba(0 0 0 / 0.1), 0 2px 4px -2px rgba(0 0 0 /0.1);
}

body.dark-mode {
    --bg-body: #0f172a;
    --bg-card: #1e293b;       
    --text-main: #f8fafc;     
    --text-muted: #94a3b8;    
    
    --border-input: #334155;  
    --primary-light: rgba(99, 102, 241, 0.3);
    
    --progress-bg: #334155;
    --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-body);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 30px auto;
    padding: 20px 20px;
}

.form-card {
    background-color: var(--bg-card);
    padding: 2.5rem;
    border-radius: 16px;
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 450px;
    border: 1px solid var(--border-input); 
}

h2 {
    margin-bottom: 0.5rem;
    color: var(--text-main);
}

.subtitle {
    color: var(--text-muted);
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-main);
}

.input-wrapper{
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding-right: 40px;
}

input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--border-input);
    border-radius: var(--radius);
    background: transparent;
    color: var(--text-main);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 4px var(--primary-light);
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--text-muted);
    cursor: pointer;
    padding: 4px;
}

.toggle-password:hover {
    color: var(--primary);
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: var(--radius);
    font-weight: 700;
    cursor: pointer;
    transition: bacground 0.3s;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.submit-btn:hover {
    background-color: var(--primary-hover);
}

.progress-section { 
    margin-top: 2rem; 
    padding-top: 1.5rem; 
    border-top: 1px solid var(--border-input); 
}

.progress-header { 
    display: flex; 
    justify-content: space-between; 
    font-weight: 700; 
    margin-bottom: 0.9rem; 
    font-size: 0.9rem; 
}

.progress-bar-bg { 
    height: 8px; 
    background: var(--progress-bg); 
    border-radius: 10px; 
    overflow: hidden; 
    margin-bottom: 1rem; 
}

.progress-bar-fill { 
    height: 100%; 
    background: var(--progress-fill); 
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
}

.checklist { 
    list-style: none; 
    font-size: 0.85rem; 
    color: var(--text-muted); 
}

.checklist li { 
    margin-bottom: 0.3rem; 
    display: flex; 
    align-items: center; 
    gap: 8px; 
}

.checklist li::before { 
    content: '○'; 
    font-weight: bold; 
}

.checklist li.completed { 
    color: var(--success); 
    text-decoration: line-through; 
    opacity: 0.7; 
}

.checklist li.completed::before { 
    content: '✓'; 
}

.theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--bg-card);
    border: 1px solid var(--border-input);
    color: var(--text-main);
    padding: 10px;
    margin: 40px 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow);
    height: 40px;
    width: 40px;
}